.books-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.books-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #3f51b5;
}

.autocomplete-container.mat-focused
  .mat-form-field-outline
  .mat-form-field-outline-start,
.autocomplete-container.mat-focused
  .mat-form-field-outline
  .mat-form-field-outline-gap,
.autocomplete-container.mat-focused
  .mat-form-field-outline
  .mat-form-field-outline-end {
  border-bottom: none;
  border-radius: 0;
}
